@import "/src/styles/vars.scss";

.navbar {
  height: 80px;
  padding: 0 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  margin-right: 10px;
}

.header-nav__logo {
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  color: $base-black;
  padding-right: 7%;

  span {
    color: $base-gold;
  }
}

.header-nav__menu-text {
  font-size: 25px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: $base-black;
  cursor: pointer;
  transition: 0.7s;
}

.header-nav__menu-text:hover {
  color: $base-gold;
}

.header-nav__button {
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

// @media (max-width: 1200px) {
//   .header-nav__menu-text {
//     font-size: 20px;
//     line-height: 22px;
//   }
// }

// @media (max-width: 767px) {
//   .navbar-nav {
//     flex-direction: column;
//   }

//   .header-nav__logo {
//     font-size: 26px;
//     line-height: 28px;
//     padding-right: 7%;
//   }

//   .header-nav__menu-text {
//     font-size: 18px;
//     line-height: 20px;
//   }
// }
