@import "/src/styles/vars.scss";
@import "/src/styles/mixin.scss";

.footer-wrap {
  margin-top: 7em;
  background-color: $base-black;
  width: 100%;
}

.footer-text {
  @include baize-button-text;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $base-gold;
}
