@import "/src/styles/vars.scss";

.navbar {
  height: 80px;
  padding: 0 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  margin-right: 10px;
}

.header__custom-link {
  color: "inherit";
  text-decoration: none;
}

.header-nav__logo {
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  color: $base-black;
  padding-right: 7%;
  cursor: pointer;

  span {
    color: $base-gold;
  }
}

.header-nav__menu-text {
  font-size: 25px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: $base-black;
  cursor: pointer;
  transition: 0.7s;
}

.header-nav__menu-text:hover {
  color: $base-gold;
}

.header-nav__button {
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}
