@import "/src/styles/vars.scss";
@import "/src/styles/mixin.scss";

.sliderCard__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderCard__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 266px;
  width: 100vw;
}

.sliderCard__text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 266px;
  width: 100vw;
  max-height: 64px;
  height: 100vh;
  background-color: $base-black;
}

.sliderCard__text {
  @include baize-text-slider;
  color: $base-white;
  text-align: center;
}
