@import "/src/styles/vars.scss";
@import "/src/styles/mixin.scss";

.link {
  @include baize-button-text;
  text-decoration: none;
  color: "inherit";
  cursor: pointer;
}

.blackLinkColor {
  color: $base-black;
}

.whiteLinkColor {
  color: $base-white;
}

.link:hover {
  color: $base-gold;
}
